.dropdown_container {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #cd853f;
  display: grid;
  align-items: center;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
  opacity: 0;
}
.icons {
  position: absolute;
  top: 1.2rem;
  right: 1.5rem;
  background: transparent;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
  color: #000d1a;
}
.dropdown_menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 80px);
  text-align: center;
  margin-bottom: 4rem;
}
.dropdown_link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.dropdown_link:hover {
  color: #000d1a;
}
.dropdown_btn{
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 480px) {
  .dropdown_menu {
    grid-template-rows: repeat(4, 60px);
  }
}
