.info_section {
  width: 100%;
  height: 100%;
  padding: 4rem 0rem;
}
.info_container {
  padding: 3rem calc((100vw - 1300px) / 2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 800px;
}
@media screen and (min-width: 768px) {
  .info_container {
    grid-template-columns: 1fr;
  }
}
.info_column_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 1.4;
  padding: 1rem 2rem;
}
.left_title {
  margin-bottom: 1rem;
  font-size: clamp(1.5rem, 6vw, 2rem);
}
.left_text {
  margin-bottom: 2rem;
}
.info_column_right {
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .info_column_right {
    order: 1;
  }
  .right_img {
    width: 90%;
    height: 90%;
  }
}
