.navbar_header {
  height: 60px;
  background: coral;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 100;
  position: fixed;
  width: 100%;
}
.navbar_logo {
  color: #fff;
  font-style: italic;
}
.menu_bars {
  display: none;
}
.navbar_menu {
  display: flex;
  align-items: center;
  margin-right: -48px;
}

.navbar_link {
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}
.navbar_btn {
  display: flex;
  justify-content: center;
  margin-right: 24px;
}
@media screen and (max-width: 768px) {
  .navbar_menu,
  .navbar_btn {
    display: none;
  }
  .menu_bars {
    display: block;
    background-size: contain;
    height: 40px;
    width: 40px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, 25%);
    z-index: 2000;
  }
}
